#title {
  color: #A37; }

body {
  padding-bottom: 20px; }

h1 {
  /*text-align: center;*/
  color: #000; }

.navbar {
  margin-bottom: 0px; }

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0; }

.odd {
  background-color: #CCC;
  color: black; }

.even {
  background-color: #999;
  color: black; }

/*	Making the header responsive. Remove these styles, if
	you don't need the header to work on mobile devices. */
