<div class="container dynamicTile">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
		<div id="tile2" class="tile">
          <div class="item">
                <a href="https://cgi.njoyn.com/CGI/xweb/Xweb.asp?tbtoken=Zl9RRxgXCG97YX0DQ1RcCCdMAWBEcFJUe0hZIVB9E21bLUBpL0YbcWoBBwkbVhRSSXEqUA%3D%3D&chk=dFlbQBJe&clid=21001&Page=joblisting&countryid=NL&lang=9" target="_blank"> 
                    <img src="../images/explore/masthead_njoyn_eng.jpg" class="img-responsive">
                    <div class="talk">Vraag het aan CGI</div>
                </a>
          </div>    	 
      </div>
  </div>
</div>
</br>
<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-8">
		<div id="tile3" class="tile">
    	 <div class="item">
           <a href="https://www.cginederland.nl/werken-bij-cgi/projecten" target="_blank"> 
             <img src="../images/explore/we-make-it-happen.jpg" class="img-responsive">
             <div class="talk">Projecten</div>
          </a>
        </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-4">
    	<div id="tile2" >
          <div class="item">
            <a href="http://berenschot.media02.iprox.nl/cgi/gIw0wQ/werkenbijcgi/story_html5.html " target="_blank"> 
              <img src="../images/explore/match-my-cgi.png" class="img-responsive"> 
            </a>
         </div>
      </div>
	</div>
</div>

</div>
