<div class="row">
<form name="regForm" novalidate class="col-lg-12 well">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-4 form-group required">
				<label for="firstName" class="control-label" translate="First_Name"></label>
				<input type="text" name="firstName" placeholder="{{ 'First_Name_Hint' | translate }}"
								validation="required:alt={{ 'First_Name_Required' | translate }}" 
								class="form-control" id="firstName" ng-model="candidate.firstName"></input>
			</div>
			<div class="col-sm-4 form-group required">
				<label for="lastName" class="control-label" translate="Last_Name"></label>
				<input type="text" id="lastName" name="lastName" 
						placeholder="{{ 'Last_Name_Hint' | translate }}" 
						class="form-control"  ng-model="candidate.lastName" 
						validation="required:alt={{ 'Last_Name_Required' | translate }}" ></input>
			</div>
			<div class="col-sm-4 form-group">
				<label for="KnownLanguages" class="control-label" translate="KnownLanguages"></label>
				<div>
					<div class="col-xs-5" ng-repeat="item in Languages">
						<checkbox ng-model="item.selected"
								ng-true-value="true" 
								ng-false-value="false"
								indeterminate="false"></checkbox>
						<span ng-bind="item.label"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="phone" class="control-label" translate="Phone_Number"></label>
				<input type="number" id="phone" name="phone" placeholder="{{ 'Phone_Number_Hint' | translate }}" 
						class="form-control" ng-model="candidate.phoneNumber" 
						></input>
			</div>
			<div class="col-sm-4 form-group required">
				<label for="email" class="control-label" translate="Email_Address"></label> 
				<input type="text" name="email" placeholder="{{ 'Email_Address_Hint' | translate }}"
						class="form-control" ng-model="candidate.emailId" 
						validation="email|required:alt={{ 'Email_Address_Required' | translate }}"
						></input>
			</div>
			<div class="col-sm-4 form-group">
				<label for="linkedin" class="control-label" translate="LinkedIn_URL"></label>
				<input type="text" placeholder="{{ 'LinkedIn_URL_Hint' | translate }}" 
					class="form-control" id="linkedin" ng-model="candidate.linkedInUrl"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="qualification" class="control-label" translate="Highest_Qualification"></label>
				<input type="text" id="qualification" name="qualification"
						placeholder="{{ 'Highest_Qualification_Hint' | translate }}" 
						class="form-control" ng-model="candidate.highestQualification"
						/>
			</div>
			<div class="col-sm-4 form-group">
				<label for="qualificationDate" class="control-label" translate="Graduation_Date"></label>
				<p class="input-group">
					<input type="text" id="qualificationDate" class="form-control" datetime-picker="mediumDate" ng-model="candidate.qualificationDate"
									is-open="gradDatePicker.Open" enable-time="false" datepicker-options="gradDatePicker.Options" close-on-date-selection="true"
									datepicker-append-to-body="true" button-bar="gradDatePicker.ButtonBar" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="CalendarClick()"><i class="fa fa-calendar"></i></button>
					</span>
				</p>
			</div>
			<div class="col-sm-4 form-group">
				<label for="certification" class="control-label" translate="Certification"></label>
				<p class="input-group">
					<div name="Certification">
						<div class="col-xs-1">
							<checkbox ng-model="candidate.certification" ng-true-value="true" ng-false-value="false"
											  ng-model="candidate.certification" indeterminate="false"></checkbox>
						</div>
						<div class="col-xs-2">
							<span translate="TXT_YES"></span>
						</div>
						<div class="col-xs-7">
							<input type="text" placeholder="{{ 'Certification_Name_Hint' | translate }}"
									class="form-control" ng-model="candidate.certificationName"
									ng-disabled="!candidate.certification"></input>
						</div>
					</div>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="currentRole" class="control-label" translate="CurrentRole"></label>
				<input type="text" placeholder="{{ 'CurrentRole_Hint' | translate }}" 
					   class="form-control" id="currentRole" ng-model="candidate.currentRole"></input>
			</div>
			<div class="col-sm-4 form-group">
				<label for="preferredLocation" class="control-label" translate="preferredLocation"></label>
				<select id="preferredLocation" class="form-control" ng-model="candidate.preferredLocation" ng-options="loc.code as loc.name for loc in locations">
						</select>
			</div>
			<div class="col-sm-4 form-group">
				<label for="sector" class="control-label" translate="sector"></label>
				<select id="sector" class="form-control" ng-model="candidate.sectorId" ng-options="sector.code as sector.name for sector in sectors">
						</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="role" class="control-label" translate="role"></label>
				<input name="role" id="role" type="text" placeholder="{{ 'role_Hint' | translate }}" 
						ng-model="candidate.roleInterested" class="form-control">
			</div>
			<div class="col-sm-4 form-group">
				<label for="skills" class="control-label" translate="skills"></label>
				<div ng-dropdown-multiselect="" options="skills" selected-model="selectedSkills" 
					extra-settings="skillsSettings"></div>
			</div>
			<div class=" col-sm-4 form-group required">
				<label for="cgiContact" class="control-label" translate="cgiContact"></label>
				<select id="cgiContact" name ="cgiContactId" class="form-control" ng-model="candidate.cgiContactId" 
						ng-options="contact.code as contact.name for contact in cgiContacts"
						validation="required:alt={{ 'cgiContact_Required' | translate }}">
				</select>
			</div>
		</div>
		<div class="row">
			<div class=" col-sm-10 form-group">
				<label class="control-label" for="comment" translate="Comment"></label>
				<textarea placeholder="{{ 'Comment_Hint' | translate }}" rows="2" class="form-control"
				 id="comment" ng-model="candidate.comment"></textarea>
			</div>
			<div class="col-sm-2 form-group required pull-right">
				<label for="potential" class="control-label" translate="Potential"></label>
				<select id="potential" name ="potential" class="form-control" ng-model="candidate.potential" 
						ng-options="item.code as item.name for item in potentialOptions"
						validation="required:alt={{ 'potential_Required' | translate }}">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 form-group required">
				<div class="col-sm-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="privacyDisclaimer" ng-model="candidate.privacyDisclaimer" 
								ng-checked="candidate.privacyDisclaimer"/>
								<a ng-click ="OpenTerms()" translate="terms"></a>
						</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="subscribeToNewsLetter" 
								ng-model="candidate.subscribeToNewsLetter" /> 
								<span translate="subscribeToNewsLetter"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="col-sm-4 form-group required">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 form-group">
				<button type="button" 
						ng-disabled="!candidate.privacyDisclaimer || regForm.$invalid" 
						ng-click="saveCandidateDetails()" class="btn btn-info btn-block"
						translate="Save"></button>
			</div>
			<div class="col-sm-6 form-group">
				<button type="button"  ng-click="reset()" class="btn btn-info btn-block"
						translate="Reset"></button>
			</div>
		</div>
		
	</div>
</form>
</div>
<script type="text/ng-template" id="termsDialog">
    <span translate="TermsText"></span>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('true')" translate="Accept"></button>
		<button type="button" class="ngdialog-button ngdialog-button-danger" ng-click="closeThisDialog('false')" translate="Decline"></button>
	</div>
</script>

<script type="text/ng-template" id="confirmDialog">
	<span translate="ResetText"></span>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')" translate="OK"></button>
		<button type="button" class="ngdialog-button ngdialog-button-danger" ng-click="closeThisDialog('cancel')" translate="Cancel"></button>
	</div>
</script>


<script type="text/ng-template" id="registerConfDialog">
	<span translate="SaveconfirmText"></span>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')" translate="OK"></button>
	</div>
</script>